* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #87cefa, #f0f8ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}